<li class="task <%= (task.attr('completed') ? 'completed' : '') %>" id="<%= task.attr('id') %>">
  <input type="checkbox" <%= (task.attr('completed') ? 'checked="checked"' : '') %>" />
  <a href="#/tasks/<%= task.attr('id') %>" class="entry"><%= task.attr('entry') %></a>
</li>
