<li class="task <%= (task.completed ? 'completed' : '') %>" id="task_<%= id %>">
  <input type="checkbox" <%= (task.completed ? 'checked="checked"' : '') %>" />
  <a href="#/tasks/<%= id %>" class="entry"><%= task.entry %></a>
</li>